{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Internationalization Test' %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ welcome_message }}</h1>
    <p>{{ description }}</p>
    
    <div class="i18n-demo">
        <h2>{% trans 'Language Information' %}</h2>
        <p><strong>{% trans 'Current language' %}:</strong> {{ LANGUAGE_CODE }}</p>
        <p><strong>{% trans 'Available languages' %}:</strong></p>
        <ul>
            {% for lang_code, lang_name in LANGUAGES %}
                <li>{{ lang_name }} ({{ lang_code }})</li>
            {% endfor %}
        </ul>
        
        <h2>{% trans 'Translation Examples' %}</h2>
        <ul>
            <li>{% trans 'Hello, world!' %}</li>
            <li>{% trans 'Goodbye' %}</li>
            <li>{% trans 'Welcome back' %}</li>
            <li>{% trans 'Thank you for using our service' %}</li>
        </ul>
        
        <h2>{% trans 'Pluralization' %}</h2>
        <p>{% blocktrans count counter=1 %}
            There is {{ counter }} message.
            {% plural %}
            There are {{ counter }} messages.
        {% endblocktrans %}</p>
        
        <p>{% blocktrans count counter=5 %}
            There is {{ counter }} message.
            {% plural %}
            There are {{ counter }} messages.
        {% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
