{% extends 'coloring_pages/base.html' %}
{% load i18n static %}

{% block title %}{% trans "home_page_title" %}{% endblock %}

{% block page_content %}
<div class="py-5">
    <div class="text-center">
        <h1 class="display-4">{% trans "home_welcome_title" %}</h1>
        <p class="lead">{% trans "home_welcome_subtitle" %}</p>
    </div>
    
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-lg-8">
            <form class="row g-3" action="{% url 'coloring_pages:search' %}" method="get">
                <div class="col-md-9">
                    <input type="text" name="q" class="form-control form-control-lg" placeholder="{% trans 'home_search_placeholder' %}">
                </div>
                <div class="col-md-3 d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans "home_search_button" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h2 class="mb-4 text-center">{% trans "home_featured_title" %}</h2>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 justify-content-center">
                            {% for page in latest_pages %}
                                {% include 'coloring_pages/includes/coloring_page_card.html' %}
                            {% empty %}
                            <div class="col-12">
                                <div class="alert alert-info">{% trans "home_no_pages_available" %}</div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="text-center mt-5">
                            <a href="{% url 'coloring_pages:search' %}" class="btn btn-primary btn-lg">{% trans "home_browse_all_button" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-5 bg-light rounded-3 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h2 class="text-center text-md-start mb-4">{% trans "home_features_title" %}</h2>
                        <p class="lead text-center text-md-start">{% trans "home_features_subtitle" %}</p>
                        <ul class="list-unstyled text-center text-md-start">
                            <li><i class="fas fa-check text-success me-2"></i> {% trans "home_feature_free" %}</li>
                            <li><i class="fas fa-check text-success me-2"></i> {% trans "home_feature_quality" %}</li>
                            <li><i class="fas fa-check text-success me-2"></i> {% trans "home_feature_updates" %}</li>
                        </ul>
                        <div class="text-center text-md-start">
                            <a href="{% url 'coloring_pages:search' %}" class="btn btn-primary mt-3">{% trans "home_start_button" %}</a>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'images/kid-coloring.png' %}" alt="{% trans 'home_image_alt' %}" class="img-fluid rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
